@inherits LayoutComponentBase

<PageTitle>BlazorEmployee</PageTitle>
<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />


        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>
            <AuthorizeView>
                <Authorized>
                    <main>

                    <article class="content px-4">
                        @Body
                    </article>
                    </main>
                </Authorized>
        <NotAuthorized><h2 class="text-center"><span>No esta Autorizado</span></h2></NotAuthorized>
            </AuthorizeView>

        </div>
  
   
    


